.bitcoinTracker {
  position: fixed;
  height: 6rem;
  width: 30rem;
  top: 0%;
  left: 1%;
  margin-top: 1.5rem;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  &__Info {
    color: $color-grey-light;
    font-size: 3.1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: .8rem 0px;

    &-Price {
      margin-top: 1.2rem;
    }
    
    &-Legend {
      font-size: 1rem;
      position: absolute;
      margin-top: .5rem;
    }

    &-Image {
      width: 9.5rem;
      position: absolute;
      left: 1.6rem;
      top: 1rem;
      opacity: .2;
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
      z-index: -1;
    }
  }
}

.noBackgroundColor {
  background: rgba($color-red-background, 0.8);
}

.yesBackgroundColor {
  background: rgba($color-green-background, 0.6);
}

@media screen and (max-width: 1000px) {
  .bitcoinTracker {
    left: 22%;
    height: 3.4rem;
    max-width: none !important;
    width: 15rem;
    box-shadow: none;
    top: -0.3%;
    justify-content: center;

    &__Info {
      font-size: 2rem;
      
     


      &-Legend {
        
        
        
      }
      &-Price {
        
      }
    }
  }
}

@media screen and (max-height: 850px) and (max-width: 1000px) {
  .bitcoinTracker__Info-Price {
    
  }
}

@media screen and (max-height: 700px) and (max-width: 1000px) {
  .bitcoinTracker {
    height: 2.8rem;
    top: -1%;

    &__Info-Price {
      font-size: 2rem;
    }
    &__Info-Legend {
      
    }
  }
}