.chartHeader {
  position: fixed !important;
  text-align: center;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  color: #1e2938;
  font-weight: bolder;
  width: 300px !important;
  padding: 0px;
  list-style: none;
  text-align: left;
  padding-top: 0px;
  right: -29%;
  top: 0%;
  max-width: 26.666667% !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  overflow: hidden;
  border-radius: 4px;
  height: 268px;
  min-height: 244px;
  -webkit-transition: box-shadow .2s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: box-shadow .2s cubic-bezier(0.165, 0.84, 0.44, 1); 
}

@media screen and (max-width: 1000px) {
  .chartHeader {
    right: 0%;
    max-width: none !important;
    top: 105%;
    box-shadow: none;
    width: 96vw !important;
  }
}

@media screen and (max-width: 600px) and (max-height: 900px) {
  .chartHeader {
    top: 101%;
  }
}

@media screen and (max-height: 650px) {
  .chartHeader {
    height: 245px;
    min-height: 0px !important;
  }
}

@media screen and (max-height: 800px) and (max-width: 1000px) {
  .chartHeader {
    height: 212px;
    min-height: 0px !important;
  }
}

@media screen and (max-height: 700px) and (max-width: 1000px) {
  .chartHeader {
    height: 183px;
    min-height: 0px !important;
  }
}

.coinInfo {
  margin-top: -10px;
  padding-left: 10px;
  z-index: 1;
  padding-top: 10px;
  -webkit-transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  height: 193px;
  overflow: hidden;
}

@media screen and (max-height: 650px) {
  .coinInfo {
    height: 166px;
    min-height: 0px !important;
  }
}

@media screen and (max-height: 800px) and (max-width: 1000px) {
  .coinInfo {
    height: 136px;
    min-height: 0px !important;
  }
}

@media screen and (max-height: 700px) and (max-width: 1000px) {
  .coinInfo {
    height: 107px;
    min-height: 0px !important;
  }
}

.cryptoImageBackgroundChartInfo {
  position: absolute;
  left: 60%;
  transform: translate(-20%, -50%);
  top: 50%;
  z-index: -1;
  width: 300px;
  filter: grayscale(0%);
  -webkit-transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.chartInfoChild {
  background: rgba(135, 144, 149, 0.9);
  height: inherit;
  min-height: 244px;
}

.chartInfoRight {
  text-align: right;
  font-size: 14px !important;
  float: right;
  padding-right: 11px;
}

.detailsImage {
  width: 30px;
  margin-left: -7px;
  position: absolute;
  margin-top: -4px;

}

@media screen and (max-width: 1000px) {
  .detailsImage {
    width: 25px;
    margin-top: -2px;
  }
}

.detailsLabel {
  margin-left: 31px;
}

.iconsContainer {
  display: flex;
  text-align: center;
  margin: 8px -4px 0px;
  border: 1px solid #6a7580;
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
}

.linksHeader {
  text-align: center;
  margin-bottom: 5px;
  font-size: 12px;
  color: white;
}

.nav-pills .nav-link.active, .nav-pills .show .nav-link {
  color: #d9d9d9 !important;
  background-color: #7b8589 !important;
  font-size: 15px;
  border-radius: 0 !important;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.nav-pills .nav-link {
border-radius: 0 !important; 
background-color: #223242;
color: #d9d9d9 !important;
}

.nav-chartInfo {
  background: rgb(24, 33, 44) !important;
}

.tags {
  flex-shrink: 5;
}

.tagIcons {
  width: 20px;
}

.tagIcons:hover {
  filter: invert(90%);
  -webkit-transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.thumb-vertical2 {
  position: relative;
  display: block;
  height: 100%;
  cursor: pointer;
  border-radius: inherit;
  background-color: rgba(81, 85, 86, 0.46);
}

.view2 {
  overflow: scroll;
  margin-right: -17px;
  margin-bottom: -17px;
  min-height: 100px;
  max-height: calc(81vh + 17px);
}
