
.animations_Reveal3,
.animations_Reveal4 {
  opacity: 0;
}

.graph1,
.graph2 {
  position: fixed;
  left: 19%;
  padding: 0;
  max-width: 62%;
  transform: translate(0%, 0%);
  border-radius: 4px;
  z-index: 1;
  background: $color-blue-primary;
  -webkit-transition: box-shadow .2s, background .2s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: box-shadow .2s, background .2s cubic-bezier(0.165, 0.84, 0.44, 1);

  &-highlight {
    box-shadow: $box-shadow-highlight;
  }
}

.graph1 {
  top: 0%;
  margin-top: 1.5rem;
}

.graph2 {
  top: 41.3%;
  margin-top: 7.9rem;
}

@media screen and (max-height: 800px) {
  .graph2 {
    top: 39.5%;
  }
}

@media screen and (max-height: 650px) {
  .graph2 {
    top: 8.5%;
    margin-top: 22.5rem;
  }
}

@media screen and (max-height: 520px) {
  .graph2 {
    display: none;
  }
}

@media screen and (min-width: 650px) {
  .col-sm-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
}

@media screen and (min-width: 200px) {
  .col-sm-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
}

@media screen and (max-width: 1000px) {
  .graph1 {
    left: 2%;
    max-width: none;
    width: 96%;
    top: 5%;
    box-shadow: none;
    background: none;
  }

  .graph2 {
    display: none;
  }
}