#bottomPercentage {
  color: $color-red-text;
  font-weight: bold;
}

.burgerMenu {
  width: inherit;
}

.burgerMenuContainer {
  width: 4rem;
  position: absolute;
  left: 2%;
  top: 1%;
  cursor: pointer;
  z-index: 2;
  filter: invert(80%);
}

.sidebar .buttonFav {
  background: darken($color-grey-medium, 10%);
  color: white;
  outline: 0;
  z-index: 0;
}

.sidebarButton-Wrapper .buttonFav {
  background-color: $color-grey-medium;
  color: white;
  outline: 0;
  z-index: 0;
}

.sidebar .emptyFavorites {
  font-size: 1.4rem;
  padding: .8rem;
  background-color: $color-grey-medium;
  visibility: visible;
  border-radius: 0 !important;
  border-bottom: 1px solid $color-grey-dark;
  position: relative;
  width: 100%;
  text-align: center;
}

.exitIcons {
  width: 10px;
  padding-bottom: 8px;
}

.flex-item {
  flex: 1 1 0px;
}

.heartSidebar {
  width: 20px;
  filter: invert(85%);

  @media (max-width: 1300px) {
    width: 15px;
  }
}

.heartSidebarListed {
  width: 10px;
  position: absolute;
  left: 2%;
  top: 11%;
  filter: invert(85%);
}

.iconVisible {
  z-index: 0;
}

.sidebar__list {
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

    &-item {
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: space-between;
      font-size: 1.4rem;
      color: $color-grey-light;
      padding: .8rem;
      cursor: pointer;
      background-color: $color-grey-medium;
      visibility: visible;
      transition: background-color 0.2s, box-shadow .2s cubic-bezier(0.165, 0.84, 0.44, 1);
      overflow: hidden;
      border-radius: 0 !important;
      border-bottom: 1px solid $color-grey-dark;
      position: relative;
      width: 100%;
      
      &:hover {
        background-color: lighten($color-blue-primary, 5%);
        color: $color-white;
        z-index: 1;
        box-shadow: 0px 0rem 1rem 3px rgba($color-black, 0.439);
        outline: none;
        border-bottom: 1px solid transparent;

        .removeFavorite {
          background-color: lighten($color-blue-primary, 5%);
          
          .exitIcons {
            filter: invert(100%);
          }
        }
      }
      
      &:focus {
        background: $color-blue-primary;
        box-shadow: 0px 0rem .5rem 1px rgba($color-black, 0.439);
        color: $color-black;
        outline: 0;
        z-index: 0;
      }
      
      &:visited {
        background: $color-blue-primary;
        z-index: 0;
      }
    }
}

.sidebar .nav-pills .nav-link.active {
  color: $color-grey-light;
  background-color: $color-grey-dark;
  font-size: 1.5rem;
  border-radius: 0;
  transition: color, background-color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  padding: 1rem;
}

.nav {
  
}

.sidebar .nav-pills .nav-link {
border-radius: 0; 
background-color: $color-blue-dark;
color: $color-grey-light;
padding: 1rem;
display: flex;
align-items: center;
justify-content: center;
}

.sidebarSlide {
  left: 0% !important;
  min-width: 25rem;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.offClick {
  position: fixed;
  width: 100vw;
  top: 0%;
  left: 0%;
  height: 100vh;
  z-index: 1;
  margin-left: 25rem;

  @media (mid-width: 100rem) {
    display: none;
  }
}

.padding-right {
  padding-right: 2rem;
}

.removeFavorite {
  background: #879095;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
  padding: 1.25rem 0.6rem;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
}

.removeFavorite:hover {
  background: lighten($color-blue-primary, 15%) !important;
}

.removeFavorite:focus {
  outline: 0;
}

.removeFavorite:active {
  background: #1d1a1a;
}

.right {
  text-align: right;
  font-size: 1.5rem;
  float: right;
}

.sidebar {
  width: 30rem;
  position: fixed;
  left: 1%;
  top: 0%;
  height: 82.6%;
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin-top: 9.8rem;
  border-radius: 4px;
  background-color:$color-grey-medium;
  z-index: 1;
  box-shadow: 0px 0px 0px 2px $color-grey-primary;
  transition: left 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@media screen and (max-height: 650px) {
  .sidebar {
    height: 65.8%;
  }
}

@media screen and (min-height: 800px) {
  .sidebar {
    height: 85.9%;
  }
}

@media screen and (min-height: 900px) {
  .sidebar {
    height: 85.6%;
  }
}

@media screen and (min-height: 1050px) {
  .sidebar {
    height: 84.2%;
  }
}

@media screen and (min-height: 1150px) {
  .sidebar {
    height: 83.7%;
  }
}

@media screen and (max-width: 1000px) {
  .sidebar {
    left: -25%;
    z-index: 5;
    height: 100%;
    margin-top: 0;
    box-shadow: 10px 10px 15px 0px rgba($color-black, .3);
  }
}

.sidebarCoin {
  font-size: 1.6rem;
  color: $color-grey-text;
}

.sidebarCoin:focus {
  color: $color-white;
}

.sidebarButtonContainer {
  text-align: left;
  font-size: 1.5rem;

}

.sidebarButton-Wrapper {

}

.sidebarContainer {
  width: 50vw;
}

.sidebarIcon {
  width: 9.5rem;
  position: absolute;
  left: 1.6rem;
  top: 2px;
  opacity: .4;
  z-index: -1;
}

.sidebarRank {
  color: $color-black;
  font-size: 1.4rem;
}

@media screen and (max-width: 1000px) {
  .sidebarRank {
      font-size: 1.2rem;
  }
} 

.sidebar .nav-link:hover {
  background-color: #6a7580;
  transition: color, background-color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#topPercentage {
  color: #24cc24;
  font-weight: bold;
}

.thumb-vertical {
  position: relative;
  display: block;
  height: 100%;
  cursor: pointer;
  border-radius: inherit;
  background-color: rgba($color-grey-light, 0.47);
  z-index: 1;
}

.view {
  position: relative !important;
  overflow: scroll;
  margin-right: -1.7rem;
  margin-bottom: -1.7rem;
  min-height: 10rem;
  max-height: calc(81vh + 1.7rem);
}

@media screen and (max-width: 1000px) {
  .view {
    max-height: 98vh !important;
  }
}

.visible {
  opacity: 1;
}

@media screen and (min-width: 1000px) {
  .burgerMenuContainer {
    display: none;
  }
}