.shouldIHeader {
  opacity: 1;
  margin-top: 6rem;
  color: rgba($color-grey-primary, 0.5);
  font-size: calc(1vw + 1vh + 1vmin);
  width: fit-content;
  z-index: 2;

  animation: moveInTop .5s ease-out;
}