@import "../abstracts/variables";

.shouldIHeader {
  opacity: 1;
  position: absolute;
  color: $color-grey-primary;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 7%;
  font-size: 2.5rem;
  width: fit-content;
  z-index: 2;
}