.Answeryesbackground {
  height: 101vh;
  background: black url('../../../images/circles.png') center;
}

.Answeryes {
  height: 101vh;
  background-color: #2e96249e;
  padding: 0;
  justify-content: stretch;
  align-items: center;
  display: flex;
}

.Answerboxyes {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: calc(4vw + 4vh + 4vmin);
  color: black;
  font-family: 'Poppins', sans-serif;
  text-shadow: 3px 3px 10px #0c3515ad;
}

.unlockbody {
  padding: 0;
  margin: auto;
  margin-top: 48vh;
}

@media screen and (max-width: 1000px) and (orientation: portrait) {
  .lockbody {

  }
}

@media screen and (orientation: landscape) {
  .lockbody {

  }
}

.downArrows {

}

@media screen and (max-width: 1200px) and (orientation: portrait) {
  .downArrows {
    width: 12vw;
  }
}

*:focus {outline:none}
