
.NoChartActual {
  height: 65vh;
  width: 60vw;
  min-height: 162px !important;
  -webkit-transition: opacity 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@media screen and (max-height: 800px) {
  .NoChartActual {
    height: 35vh !important;
  }
}

@media screen and (max-height: 650px) {
  .NoChartActual {
    height: 25vh !important;
  }
}

@media screen and (max-width: 750px) {
  .NoChartActual {
    width: 90vw !important;
  }
}

.NoGraphChild {
  position: relative;
  padding: 25px;
  padding-bottom: 40px;
  padding-left: 2px;
  padding-top: 40px;
  background: rgba(115, 125, 130, 0.9411764705882353);
  border-radius: 4px;
  overflow: hidden;

}

@media screen and (max-width: 950px) {
  .NoGraphChild {
    width: 100% !important;
  }
}

.graphFocused {
  background: rgba(123, 133, 137, 0.93);
}

.toggled {
  width: 45vw !important;
  left: 26% !important;
}

.daysselector {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  color: black;
  padding-top: 25px;
  width: 350px;
  z-index: 1;
}

@media screen and (max-width: 1200px) and (orientation: portrait) {
  .daysselector {

  }
}


.btn-primary {
    /* background-color: #1d1a1a !important;
    border-color: #1d1a1a !important; */
}

.NoChartActual::after {
  padding-top: 40px;
}

.cryptoImage {
  border-radius: 50%;
  margin-top: 3px;
  width: 45px;
  background-color: white;
  border: 2px solid white;
}

.cryptoImage:hover {
  cursor: pointer;
}

@media screen and (max-width: 1200px) and (orientation: landscape) {
  .cryptoImage {

  }
}

#fourthCoinButton {

}

@media screen and (max-width: 1200px) {
  #fourthCoinButton {
    display: none;
  }
}

#thirdCoinButton {

}

@media screen and (max-width: 900px) {
  #thirdCoinButton {
    display: none;
  }
}

#secondCoinButton {

}

@media screen and (max-width: 600px) {
  #secondCoinButton {
    display: none;
  }
}

.quickButtonContainer {

}

.cryptoImageBackground {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 45%;
  z-index: -1;
  width: 20vw;
  background-color: white;
  filter: grayscale(100%);
  min-width: 200px;
  -webkit-transition: opacity, filter 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity, filter 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.saturated {
  filter: grayscale(50%);
}

.form-control {
  width: 100px !important;
  font-size: 14px !important;
}

.btn {

}

@media screen and (max-width: 1200px) and (orientation: portrait) {
  .btn {

  }
}

@media screen and (max-width: 1200px) and (orientation: landscape) {
  .btn {

  }
}

.imageContainer {
  margin: auto;
}

.imageContainer:hover {
  cursor: pointer;
}

.selectorButtons {
  height: 33px;
  font-size: .8rem !important;
  color: #bfbebe !important;
  background-color: #223242 !important; 
  border-color: #1d1a1a !important;
  box-shadow: none !important;
  width: 50px !important;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@media screen and (max-width: 900px) {
  .selectorButtons {
        width: 50px !important;
  }
}

.selectorButtons.active, .selectorButtons.focus {
  color: white !important;
  background-color: #18212c !important;
  border-color: #1d1a1a !important;
  /* box-shadow: none !important;
  border: none !important; */
}

.cryptoSubmit {
  height: 33px;
  width: 50px !important;
  background-color: #1e2938 !important;
  border-color: #1d1a1a !important;
  box-shadow: none !important;
  font-size: .8rem !important;
}

.NoName {
  position: absolute;
  top: 1%;
  left: 3%;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  color: #1e2938;
  width: fit-content;
  z-index: 1;
}

.YesName {
  position: absolute;
  top: 1%;
  left: 3%;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  color: #1e2938;
  width: fit-content;
  z-index: 1;
}

.coinInfo {
  margin-top: -5px;
  -webkit-transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.currSelector {
  position: absolute;
  right: 10px;
  z-index: 2;
  bottom: 12px;
}

@media screen and (max-width: 1200px) {
  .currSelector {
    display: none;
  }
}

.currButton {
  color: #bfbebe !important;
  background-color: #223242 !important;
  border-color: #1d1a1a !important;
  box-shadow: none !important;
  height: 33px !important;
  font-size: .8rem !important;
}

.currButton.active, .currButton.focus {
  color: white !important;
  background-color: #18212c !important;
  border-color: #1d1a1a !important;
}

.textField {
  text-transform:uppercase;
  background-color: #bebebe !important;
  color: black !important;
  height: 33px !important;
}

.textField:focus, .textField:visited, .textField:action {
  border-color: black !important;
  outline: 0;
  box-shadow: none;
}

.form-control:focus, .form-control:visited {
  outline: none !important;
  box-shadow:none !important;
}

.bar1 {
  height: 28px;
  background: white;
  width: 2px;
  position: absolute;
  top: 100%;
  z-index: -2;
  right: 5%;

}

.bar2 {
  height: 28px;
  background: white;
  width: 2px;
  position: absolute;
  top: 100%;
  z-index: -2;


}

.lineWrapper {


  left: 92%;

  background-color: white;
  top: 102%;

}

.redText {
  color: #801f28;
}

.greenText {
  color: #24cc24;
}

.percentageWrapper {
  text-align: left;
}

.coinInfoTitles {
  color: yellow !important;
}

.optionsBank {
  position: absolute;
  top: .3vh;
  right: 0.3%;
  height: 35px;
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 5px;
  padding-right: 5px;
}

.exitButton {
  cursor: pointer;
  margin-left: 7px;
}

.favoriteButton {
  cursor: pointer;
  margin-right: 35px;
}

.reloadButton {
  cursor: pointer;
}

.spun {
  -webkit-transform: rotate(450deg);
    -ms-transform: rotate(450deg);
     transform: rotate(450deg);
}

.optionsImage {
  width: 25px;
  -webkit-transition: transform 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.large {
  width: 27px;
  position: absolute;
}

.heart {
  opacity: 1;
}

.heartFilled {
  opacity: 1;
  -webkit-transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.flash {
  opacity: 0;
}

.pulse {
  transform: scale(1.2, 1.2);
  -webkit-transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.spinnerContainerChartInfo {
  background: black;
}

