.cryptoImageContainer {
  position: absolute;
left: -1px;
width: 220px;
background-color: white;
padding: 5px 5px 5px 5px;
bottom: -4vh;
box-shadow: 6px 20px 38px #00000061;
z-index: -1;
height: 53px;
top: 102%;
}

.cryptoInput {
  margin-top: 2px;
  margin-left: 50px;
}

.cryptoImage {
  position: absolute;
  border-radius: 50%;
  left: 92%;
  width: 50px;
  background-color: white;
  top: 102%;
  box-shadow: 6px 20px 38px #00000061;
      border: 2px solid white;
}

.cryptoImage:hover {
  cursor: pointer;
}

.cryptoImage2 {
  position: absolute;
  left: 1%;
  width: 50px;
  background-color: white;
  padding: 5px 5px 5px 5px;
  top: -.02%;
}

.cryptoImage3 {
  position: absolute;
  left: 82%;
  width: 50px;
  background-color: white;
    border-radius: 50%;
  top: 102%;
  box-shadow: 6px 20px 38px #00000061;
      border: 2px solid white;
}

.cryptoImage3:hover {
  cursor: pointer;
}

.cryptoImage4 {
  position: absolute;
  left: 72%;
  width: 50px;
  background-color: white;
    border-radius: 50%;
  top: 102%;
  box-shadow: 6px 20px 38px #00000061;
      border: 2px solid white;
}

.cryptoImage4:hover {
  cursor: pointer;
}

.cryptoImage5 {
  position: absolute;
  left: 62%;
  width: 50px;
  background-color: white;
    border-radius: 50%;
  top: 102%;
  box-shadow: 6px 20px 38px #00000061;
      border: 2px solid white;
}

.cryptoImage5:hover {
  cursor: pointer;
}

@media screen and (max-width: 1200px) and (orientation: portrait) {
  .cryptoImage {

  }
}

@media screen and (max-width: 1200px) and (orientation: landscape) {
  .cryptoImage {

  }
}

.cryptoImageBackground {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 45%;
  z-index: -1;
  width: inherit;
  background-color: white;
  filter: grayscale(100%);
}

@media screen and (max-width: 1200px) and (orientation: portrait) {
  .cryptoImageBackground {

  }
}

.form-control {
  width: 100px !important;
}

.btn {

}

@media screen and (max-width: 1200px) and (orientation: portrait) {
  .btn {

  }
}

@media screen and (max-width: 1200px) and (orientation: landscape) {
  .btn {

  }
}

.imageContainer {
  margin: auto;
}

.imageContainer:hover {
  cursor: pointer;
}

.selectorButtons {
  height: 33px;
  font-size: .8rem !important;
  color: #bfbebe !important;
  background-color: #1d1a1a !important;
  border-color: #1d1a1a !important;
  box-shadow: none !important;
}

.selectorButtons.active, .selectorButtons.focus {
  color: white !important;
  background-color: #404040 !important;
  border-color: #1d1a1a !important;
  /* box-shadow: none !important;
  border: none !important; */
}

.cryptoSubmit {
  background-color: #373d42 !important;
}

.NoName {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -304%);
  text-align: center;
  font-size: 31px;
  font-family: 'Poppins', sans-serif;
  color: #b1626a;
  width: 45vw;
  background: #1d1a1a;
  height: 47px;
  box-shadow: 6px 3px 20px #00000061;
}

.YesName {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -304%);
  text-align: center;
  font-size: 31px;
  font-family: 'Poppins', sans-serif;
  color: #52b54d;
  width: 45vw;
  background: #1d1a1a;
  height: 47px;
  box-shadow: 6px 3px 20px #00000061;
}

.coinInfo {
  margin-top: -5px;
}

.currSelector {
  position: absolute;
  transform: translate(-7%, -96%);
  right: 0;
  z-index: 2;
  padding: 4px;

}

.currButton {
  color: #bfbebe !important;
  background-color: #1d1a1a !important;
  border-color: #1d1a1a !important;
  box-shadow: none !important;
  /* border: none !important; */
}

.currButton.active, .currButton.focus {
  color: white !important;
  background-color: #404040 !important;
  border-color: #1d1a1a !important;
  /* box-shadow: none !important;
  border: none !important; */
}

.textField {
  text-transform:uppercase
}

.bar1 {
  height: 28px;
background: white;
width: 2px;
position: absolute;
/* left: 93.5%; */
top: 100%;
z-index: -2;
right: 20%;

}

.lineWrapper {
  position: absolute;

  left: 92%;

  background-color: white;
  top: 102%;

}
