.Yesdashboardcontainer {
  height: 100vh;
  background: black url('../../../images/circles.png') center;
}

.Yesdashboard {
  height: 100vh;
  background-color: #2e96249e;
}

.YesGraph {
  position: absolute;
  height: 60vh;
  top: 148%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 60px;
  /*background-color: black;
  box-shadow: 0px 0px 4px black;*/
}

.Yeschartheader {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  color: black;
}

.daysselector {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  color: black;
  padding-top: 50px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: black !important;
    border-color: black !important;
}

.YesChartActual {
  padding-top: 40px;
}
