

//////////////////////////////////////////////////////////////
/////////COLORS

$color-red-text: #801f28;
$color-green-text: #00e100;

$color-grey-primary: #bebebe;
$color-grey-light: #d7d7d7;

$color-blue-primary: #222b3a;
$color-blue-dark: #223242;

$color-black: black;

$color-red-background: #c93746;
$color-green-background: #00b329;

//////////////////////////////////////////////////////////////
/////////BOX SHADOWS

$box-shadow-highlight: 0px 0px 0px 2px #bebebe;