

//////////////////////////////////////////////////////////////
/////////COLORS

$color-red-text: #801f28;
$color-green-text: #00e100;
$color-grey-text: #d4e6ff;

$color-grey-dark: #6a7580;
$color-grey-medium: #879095;
$color-grey-primary: #bebebe;
$color-grey-light: #d7d7d7;


$color-blue-primary: #222b3a;
$color-blue-dark: #18212c;

$color-black: black;
$color-white: #fff;

$color-red-background: #c93746;
$color-green-background: #00b329;

//////////////////////////////////////////////////////////////
/////////BOX SHADOWS

$box-shadow-highlight: 0px 0px 0px 2px #bebebe;

//////////////////////////////////////////////////////////////
/////////TRANSITIONS

$cubic-primary: cubic-bezier(0.165, 0.84, 0.44, 1);