
.Answeryes {
  height: 100vh;
  background-color: #3e9c35;

}

.Answerboxyes {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: calc(4vw + 4vh + 4vmin);
  color: #052706;
  font-family: 'Poppins', sans-serif;
}

.unlockbody {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
