.Answeryesbackground {
  height: 100vh;
  background: black url('../../../images/circles.png') center;
}
.Answeryes {
  height: 100vh;
  background-color: #2e96249e;

}

.Answerboxyes {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: calc(4vw + 4vh + 4vmin);
  color: #031904;
  font-family: 'Poppins', sans-serif;
  text-shadow: 3px 3px 10px #0c3515ad;
}

.unlockbody {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
