.Answernobackground {
  height: 101vh;
  background: black url('../../../images/circles.png') center;
}

.Answerno {
  height: 101vh;
  background-color: #bb0718ad;
  padding: 0;
  justify-content: stretch;
  align-items: center;
  display: flex;
}

.Answerboxno {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: calc(4vw + 4vh + 4vmin);
  color: #130304;
  font-family: 'Poppins', sans-serif;
  text-shadow: 3px 3px 10px #4e11179e;
}

.lockbody {
  padding: 0;
  margin: auto;
  margin-top: 48vh;
}

@media screen and (max-width: 1400px) and (orientation: portrait) {
  .lockbody {

  }
}

@media screen and (orientation: landscape) {
  .lockbody {

  }
}

*:focus {outline:none}

body {
  overflow: hidden;
}

.lockImage {

}

@media screen and (max-width: 1200px) and (orientation: portrait) {
  .lockImage {
    width: 12vw;
  }
}
