.Answernobackground {
  height: 100vh;
  background: black url('../../../images/circles.png') center;
}

.Answerno {
  height: 100vh;
  background-color: #880410b5;
}

.Answerboxno {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: calc(4vw + 4vh + 8vmin);
  color: #130304;
  font-family: 'Poppins', sans-serif;
  text-shadow: 3px 3px 10px #4e11179e;
}

.lockbody {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
