.Answerno {
  height: 100vh;
  position: relative;
  background-color: #86101b;
}

.Answerboxno {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: calc(4vw + 4vh + 8vmin);
  color: #2d0609;
  font-family: 'Poppins', sans-serif;
}

.lockbody {
  padding-top: 47vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
