.bitcoinCurrentPrice {
  color: #d7d7d7;
  font-size: 31px;
  font-family: 'Poppins', sans-serif;
  padding-top: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.bitcoinCurrentPriceActual {
  margin-top: -8px;
}

.bitcoinCurrentPriceLabel {
  font-size: 10px;
}

.bitcoinTrackerWrapper {
  width: 300px !important;
  height: 63px;
  position: fixed !important;
  top: 0%;
  left: 1%;
  margin-top: 15px;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
}

.currentBTCImage {
  width: 95px;
  position: absolute;
  left: 16px;
  top: 10px;
  opacity: .2;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  z-index: -1;
}

.noBackgroundColor {
  background: rgba(201, 55, 70, 0.8313725490196079);
}

.yesBackgroundColor {
  background: rgba(0, 179, 41, 0.6196078431372549);
}

@media screen and (max-width: 1000px) {
  .bitcoinCurrentPrice {
    font-size: 1.4rem;
    margin-left: 25px;
    padding-top: 6px;
  }
  .bitcoinCurrentPriceLabel {
    font-size: 10px;
    margin-top: 4px;
    position: absolute;
    left: 7px;
  }
  .bitcoinCurrentPriceActual {
    margin-top: -3px;
  }
  .bitcoinTrackerWrapper {
    left: 22%;
    height: 34px;
    max-width: none !important;
    width: 150px !important;
    box-shadow: none;
    top: -0.3%;
  }
}

@media screen and (max-height: 850px) and (max-width: 1000px) {
  .bitcoinCurrentPriceActual {
    margin-top: -5px;
  }
}

@media screen and (max-height: 700px) and (max-width: 1000px) {
  .bitcoinCurrentPriceActual {
    font-size: 20px;
  }
  .bitcoinCurrentPriceLabel {
    margin-top: -1px;
  }
  .bitcoinTrackerWrapper {
    height: 28px;
    top: -1%;
  }
}
