.bitcoinCurrentPrice {
  color: #d7d7d7;
  font-size: 31px;
  font-family: 'Poppins', sans-serif;
  padding-top: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1000px) {
  .bitcoinCurrentPrice {
    font-size: 1.3rem;
    margin-left: -3px;
    padding-top: 2px;
  }
}

.bitcoinCurrentPriceActual {
  margin-top: -8px;
}

@media screen and (max-width: 1000px) {
  .bitcoinCurrentPriceActual {
    margin-top: -5px;
  }
}

@media screen and (max-height: 850px) and (max-width: 1000px) {
  .bitcoinCurrentPriceActual {
    margin-top: -1px;
  }
}

@media screen and (max-height: 700px) and (max-width: 1000px) {
  .bitcoinCurrentPriceActual {
    font-size: 16px;
  }
}

.bitcoinCurrentPriceLabel {
  font-size: 10px;
  margin-top: -2px;
}

@media screen and (max-height: 850px) and (max-width: 1000px) {
  .bitcoinCurrentPriceLabel {
    display: none;
  }
}

.bitcoinTrackerWrapper {
  width: 300px !important;
  height: 63px;
  position: fixed !important;
  top: 0%;
  left: 1%;
  margin-top: 15px;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .bitcoinTrackerWrapper {
    left: 22%;
    height: 4vh;
    max-width: none !important;
    width: 130px !important;
    box-shadow: none;
  }
}

.currentBTCImage {
  width: 95px;
  position: absolute;
  left: 16px;
  top: 10px;
  opacity: .2;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  z-index: -1;
}

.noBackgroundColor {
  background: rgba(201, 55, 70, 0.8313725490196079);
}

.yesBackgroundColor {
  background: rgba(0, 179, 41, 0.6196078431372549);
}
