.Nodashboardcontainer {
  height: 100vh;
  background: black url('../../../images/circles.png') repeat;
}

.Nodashboard {
  height: 100vh;
  background-color: #880410b5;
}

.NoGraph {
  position: absolute;
  height: 70vh;
  top: 148%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 60px;
  width: 65vw;
  /*background-color: black;
  box-shadow: 0px 0px 4px black;*/
}

@media screen and (max-width: 1024px) {
  .NoGraph {
    position: absolute;
    top: 160%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px;
    width: 95vw;
  }
}

.Nochartheader {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
  color: #989898;
  width: 62vw;
}

@media screen and (max-width: 1024px) {
  .Nochartheader {
    font-size: .8rem;
  }
}

.daysselector {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  color: black;
  padding-top: 50px;
  width: 67vw;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: black !important;
    border-color: black !important;
}

.NoChartActual {
  padding-top: 40px;
}
