.Nodashboardcontainer {
  height: 100vh;
  background: black url('../../../images/circles.png') repeat;
}

.Nodashboard {
  height: 100vh;
  background-color: #bb0718ad;
}

.NoGraph {
  position: absolute;
  width: 70vw;
  top: 145%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 60px;
  background-color: #c12031;
  box-shadow: 0px 8px 38px #0000008f;
}

@media screen and (max-width: 1200px) and (orientation: portrait) {
  .NoGraph {
    position: absolute;
    top: 125%;
    left: 50% !important;
    transform: translate(-50%, -50%);
    padding: 0px;
    width: 90vw !important;
    padding-top: 42px;
    padding-bottom: 20px;
  }
}

.toggled {
  width: 45vw !important;
  left: 26% !important;
}

.Nochartheader {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  color: black;
  width: 40vw;
}

@media screen and (max-width: 1200px) and (orientation: portrait) {
  .Nochartheader {
    font-size: .8rem;
    width: 90vw;
  }
}

.daysselector {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  color: black;
  padding-top: 45px;
  width: 67vw;
}

@media screen and (max-width: 1200px) and (orientation: portrait) {
  .daysselector {
        padding-bottom: 50px;
  }
}


.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: black !important;
    border-color: black !important;
}

.NoChartActual {
  padding-top: 40px;
}

.btn {

}

@media screen and (max-width: 1200px) and (orientation: portrait) {
  .btn {
    height: 20px;
    font-size: .7rem !important;
    padding-top: 1px !important;
  }
}

@media screen and (max-width: 1200px) and (orientation: landscape) {
  .btn {
    height: 20px;
    font-size: .7rem !important;
    padding-top: 1px !important;
  }
}

.imageContainer {
  margin: auto;
}

.plus {
    margin-top: 87vh;
}

@media screen and (max-width: 1200px) and (orientation: portrait) {
  .plus {
    margin-top: 70vh;
  }
}

.NoGraphNew {
  position: absolute;
  width: 45vw;
  top: 145%;
  left: 74%;
  transform: translate(-50%, -50%);
  padding: 60px;
  background-color: #c12031;
  box-shadow: 0px 8px 38px #0000008f;
}

@media screen and (max-width: 1200px) and (orientation: portrait) {
  .NoGraphNew {
    position: absolute;
    top: 170%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px;
    width: 90vw;
    padding-top: 42px;
    padding-bottom: 20px;
  }
}
