.Nodashboardcontainer {
  height: 100vh;
  background: black url('../../../images/circles.png') repeat;
}

.Nodashboard {
  height: 100vh;
  background-image: linear-gradient(#bb0718ad, #00000085);
}

.Yesdashboard {
  height: 100vh;
  background-image: linear-gradient(#2e96249e, #000000b3);
}


.NoGraph {
  position: absolute;
  width: 70vw;
  top: 145%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 6px 25px 38px #0000008f;
  padding: 1px;
}

@media screen and (max-width: 1200px) and (orientation: portrait) {
  .NoGraph {
    position: absolute;
    top: 125%;
    left: 50% !important;
    transform: translate(-50%, -50%);
    padding: 1px;
    width: 90vw !important;
  }
}

.NoGraphChild {
  position: relative;
  background: white;
  padding: 25px;
  padding-top: 80px;
  padding-bottom: 50px;
  background: #82373fe0;
  border: solid .1px white;
}

@media screen and (max-width: 1200px) and (orientation: portrait) {
  .NoGraphChild {
    padding-top: 75px;
    padding-bottom: 30px;
    padding-left: 0px;
  }
}

.YesGraphChild {
  position: relative;
  background: white;
  padding: 25px;
  padding-top: 80px;
  padding-bottom: 50px;
  background: #2b6528eb;
  border: solid .1px white;
}

.toggled {
  width: 45vw !important;
  left: 26% !important;
}

.Nochartheader {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  color: black;
  width: 40vw;
  top: 6vh;
}

@media screen and (max-width: 1200px) and (orientation: portrait) {
  .Nochartheader {
    font-size: .8rem;
    width: 90vw;
  }
}


.daysselector {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  color: black;
  padding-top: 45px;
  width: 67vw;
  z-index: 1;
}

@media screen and (max-width: 1200px) and (orientation: portrait) {
  .daysselector {
        padding-bottom: 25px;
  }
}


.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #1d1a1a !important;
    border-color: #1d1a1a !important;
}

.NoChartActual::after {
  padding-top: 40px;
}

.plus {
    margin-top: 42vh;
    position: absolute;
    left: 94%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 1200px) and (orientation: portrait) {
  .plus {
    margin-top: 70vh;
    left: 50%;
  }
}

.NoGraphNew {
  position: absolute;
  width: 45vw;
  top: 145%;
  left: 74%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 6px 25px 38px #0000008f;
  padding: 1px;
}

@media screen and (max-width: 1200px) and (orientation: portrait) {
  .NoGraphNew {
    position: absolute;
    top: 170%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px;
    width: 90vw;
    padding: 1px;
  }
}
