.sidebarCoin {
  font-size: 16px;
  color: #d4e6ff;
}

.sidebarCoin:focus {
  color: white;
}

@media screen and (max-width: 1000px) {
  .sidebarCoin {
    font-size: .7rem;
  }
}

.redText {
  color: #690000;
  font-weight: bold;
}

.greenText {
  color: #00ff3a;
}

.right {
  text-align: right;
  font-size: 15px;
  float: right;
}

/* @media screen and (max-width: 1000px) {
  .right {
    font-size: .7rem !important;
  }
} */

.sidebarButtonContainer {
  text-align: left;
  font-size: 15px;

}

.burgerMenuContainer {
    width: 40px;
    position: absolute;
    left: 2%;
    top: 1%;
    cursor: pointer;
    z-index: 2;
    filter: invert(80%);
  }

  @media screen and (min-width: 1000px) {
    .burgerMenuContainer {
      display: none;
    }
  }

  .burgerMenu {
    width: inherit;
  }

  .sidebarContainer {
    width: 50vw;
  }

  .listAddOn .list-group-item {

    color: #dbdbdb;
    padding: .8rem;
    cursor: pointer;
    background-color: #7b8589;
    visibility: visible;
    -webkit-transition: background-color 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: background-color 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    overflow: hidden;
}

.listAddOn .list-group-item:hover {
  background-color: #223242 !important;
  color: white !important;
}

.listAddOn .list-group-item:focus {
  background: #223242 !important;
  color: white;
  outline: 0;
}

.listAddOn .list-group-item:visited {
  background: #223242 !important;
}

.iconVisible {
  z-index: 1;
}

.sidebarRank {
  color: #1d1a1a;
  font-size: 14px;
}

@media screen and (max-width: 1000px) {
  .sidebarRank {
      font-size: .7rem;
}
} 

.nav-pills .nav-link.active, .nav-pills .show .nav-link {
    color: #d9d9d9 !important;
    background-color: #6b7680 !important;
    font-size: 15px;
    border-radius: 0 !important;
    -webkit-transition: color, background-color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: color, background-color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

}

.nav-pills .nav-link {
  border-radius: 0 !important; 
  background-color: #18212c;
  color: #d9d9d9 !important;
}

a {
    color: #000000 !important;
    font-size: 15px;
}

#nav {
  background: #223242;
  border-bottom: 2px solid #bebebe;
  cursor: pointer;
}

.flex-item {
  flex: 1 1 0px !important;
}

.heartSidebar {
  width: 20px;
  filter: invert(85%);
}

.heartSidebarListed {
  width: 10px;
  position: absolute;
  left: 2%;
  top: 11%;
  filter: invert(85%);
}

#topPercentage {
  color: #24cc24 !important;
  font-weight: bold;
}

#bottomPercentage {
  color: #800000 !important;
  font-weight: bold;
}

.sidebarButtonWrapper {
  display: flex;
}

.removeFavorite {
  background: #7b8589;
  border: none;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
}

.removeFavorite:hover {
  background: #22324270;
}

.removeFavorite:focus {
  outline: 0;
}

.removeFavorite:active {
  background: #1d1a1a;
}

.list-group {
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.visible {
  opacity: 1;
}

.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 0 !important; 
  border-bottom-left-radius: 0 !important;
}

.list-group-item:first-child {
  border-top-left-radius: 0 !important; 
  border-top-right-radius: 0 !important; 
}

.favoritesListSettings {
  max-height: 80vh !important;
  height: fit-content !important;
}

.sidebarIcon {
  width: 95px;
  position: absolute;
  left: 16px;
  top: 2px;
  opacity: .4;
  z-index: -1;
}

.buttonFav {
  background: #6a7580 !important;
  color: white;
  outline: 0;
  z-index: 1;
}

.exitIcons {
  width: 10px;
}

.nav {
  flex-wrap: wrap-reverse !important;
}