#bottomPercentage {
  color: #800000 !important;
  font-weight: bold;
}

.burgerMenu {
  width: inherit;
}

.burgerMenuContainer {
  width: 40px;
  position: absolute;
  left: 2%;
  top: 1%;
  cursor: pointer;
  z-index: 2;
  filter: invert(80%);
}

@media screen and (min-width: 1000px) {
  .burgerMenuContainer {
    display: none;
  }
}

.buttonFav {
  background: #6a7580 !important;
  color: white;
  outline: 0;
  z-index: 0;
}

.emptyFavorites {
  position: absolute;
  text-align: center;
  padding: 8px;
}

.exitIcons {
  width: 10px;
}

.flex-item {
  flex: 1 1 0px !important;
}

.favoritesListSettings {
  max-height: 80vh !important;
  height: fit-content !important;
}

.heartSidebar {
  width: 20px;
  filter: invert(85%);
}

@media screen and (max-width: 1300px) {
  .heartSidebar {
    width: 15px;
  }
}

.heartSidebarListed {
  width: 10px;
  position: absolute;
  left: 2%;
  top: 11%;
  filter: invert(85%);
}

.iconVisible {
  z-index: 0;
}

.listAddOn .list-group-item {
  color: #dbdbdb;
  padding: .8rem;
  cursor: pointer;
  background-color: #879095;
  visibility: visible !important;
  -webkit-transition: background-color 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: background-color 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  overflow: hidden;
}

.listAddOn .list-group-item:hover {
  background-color: #232c3b !important;
  color: white !important;
  z-index: 0 !important;
}

.listAddOn .list-group-item:focus {
  background: #18212c !important;
  color: black;
  outline: 0;
  z-index: 0 !important;
}

.listAddOn .list-group-item:visited {
  background: #18212c !important;
  z-index: 0 !important;
}

.list-group {
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 0 !important; 
  border-bottom-left-radius: 0 !important;
}

.list-group-item:first-child {
  border-top-left-radius: 0 !important; 
  border-top-right-radius: 0 !important; 
}

.nav-pills .nav-link.active, .nav-pills .show .nav-link {
  color: #d9d9d9 !important;
  background-color: #6b7680 !important;
  font-size: 15px;
  border-radius: 0 !important;
  -webkit-transition: color, background-color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: color, background-color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

}

.nav {
  flex-wrap: wrap-reverse !important;
}

.nav-pills .nav-link {
border-radius: 0 !important; 
background-color: #18212c;
color: #d9d9d9 !important;
}

.open {
  left: 0% !important;
  min-width: 250px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.offClick {
  position: fixed !important;
  width: 100vw;
  top: 0%;
  left: 0% !important;
  height: 100vh;
  z-index: 1;
  margin-left: 250px;
}

@media screen and (min-width: 1000px) {
  .offClick {
    display: none;
  }
}

.removeFavorite {
  background: #879095;
  border: none;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
}

.removeFavorite:hover {
  background: #22324270;
}

.removeFavorite:focus {
  outline: 0;
}

.removeFavorite:active {
  background: #1d1a1a;
}

.right {
  text-align: right;
  font-size: 15px;
  float: right;
}

.sidebar {
  width: 300px !important;
  position: fixed !important;
  left: 1%;
  top: 0%;
  height: 82.6%;
  font-family: 'Poppins', sans-serif;
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-top: 98px;
  overflow-y: scroll;
   scrollbar-width: none; /* Firefox */
   -ms-overflow-style: none;  /* IE 10+ */
  border-radius: 4px;
  background-color:#879095 !important;
  z-index: 1;
  box-shadow: 0px 0px 0px 2px #bebebe;
  -webkit-transition: left 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: left 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.sidebar::-webkit-scrollbar { /* WebKit */
    width: 0px;
}

@media screen and (max-height: 650px) {
  .sidebar {
    height: 65.8%;
  }
}

@media screen and (min-height: 800px) {
  .sidebar {
    height: 85.9%;
  }
}

@media screen and (min-height: 900px) {
  .sidebar {
    height: 85.6%;
  }
}

@media screen and (min-height: 1050px) {
  .sidebar {
    height: 84.2%;
  }
}

@media screen and (min-height: 1150px) {
  .sidebar {
    height: 83.7%;
  }
}

@media screen and (max-width: 1000px) {
  .sidebar {
    left: -25%;
    z-index: 5;
    height: 100%;
    margin-top: 0;
    box-shadow: 10px 10px 15px 0px #0f161c85;
  }
}

.sidebarCoin {
  font-size: 16px;
  color: #d4e6ff;
}

.sidebarCoin:focus {
  color: white;
}

.sidebarButtonContainer {
  text-align: left;
  font-size: 15px;

}

.sidebarButtonWrapper {
  display: flex;
  opacity: 1;
  z-index: 2;

}

.sidebarContainer {
  width: 50vw;
}

.sidebarIcon {
  width: 95px;
  position: absolute;
  left: 16px;
  top: 2px;
  opacity: .4;
  z-index: -1;
}

.sidebarRank {
  color: #1d1a1a;
  font-size: 14px;
}

@media screen and (max-width: 1000px) {
  .sidebarRank {
      font-size: .7rem;
  }
} 

.sidebar .nav-link:hover {
  background-color: #6a7580 !important;
  -webkit-transition: color, background-color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: color, background-color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#topPercentage {
  color: #24cc24 !important;
  font-weight: bold;
}

.thumb-vertical {
  position: relative;
  display: block;
  height: 100%;
  cursor: pointer;
  border-radius: inherit;
  background-color: rgba(255, 255, 255, 0.47);
}

.view {
  position: relative !important;
  overflow: scroll;
  margin-right: -17px;
  margin-bottom: -17px;
  min-height: 100px;
  max-height: calc(81vh + 17px);
}

@media screen and (max-width: 1000px) {
  .view {
    max-height: 98vh !important;
  }
}

.visible {
  opacity: 1;
}