.off-canvas {
  width: auto;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #333;
  transform: translateX(-100%);
  transition: .4s ease-in-out;
  z-index: 1060;
  font-family: 'Poppins', sans-serif;
}

.sidebarCoin {
  font-size: 17px;


}

.redText {
  color: #ff3333;
}

.greenText {
  color: #24cc24;
}

.right {
  text-align: right;
  font-size: 15px;
  float: right;
}

.sidebarButtonContainer {
  text-align: left;
  font-size: 15px;

}

.burgerMenuContainer {
    width: 40px;
    position: absolute;
    left: 66px;
    top: 104%;
    cursor: pointer;
  }

  .burgerMenu {
    width: inherit;
  }

  .sidebarContainer {
    width: 50vw;
  }

  .listAddOn .list-group-item {

    color: #c7c7c7;
    padding: 1rem;
    cursor: pointer;
    background-color: #1d1a1a !important;

}

.listAddOn .list-group-item:hover {
  background-color: #100b0b !important;
  color: white;
}

.listAddOn .list-group-item:active {
  background-color: #100b0b !important;
}

.listAddOn .list-group-item:visited {
  background-color: #100b0b !important;
}

.sidebarRank {
  color: #757575;
  font-size: 14px;
}
