.Nodashboardcontainer {
  height: 100vh;
  background: black url('../../../images/circles.png') repeat;
}

.Nodashboard {
  height: 100vh;
  background-image: linear-gradient(#bb0718ad, #00000085);
}

.Yesdashboard {
  height: 100vh;
  background-image: linear-gradient(#2e96249e, #000000b3);
}


.NoGraph {
  position: absolute;
  width: 70vw;
  top: 148%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 6px 25px 38px #00000061;
  padding: 1px;
}

.NoGraph2 {
  position: absolute;

  top: 148%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 6px 25px 38px #00000061;
  padding: 1px;
}


@media screen and (max-width: 1200px) and (orientation: portrait) {
  .NoGraph {
    position: absolute;
    top: 125%;
    left: 50% !important;
    transform: translate(-50%, -50%);
    padding: 1px;
    width: 90vw !important;
  }
}

.Nochartheader {
  position: absolute;
  transform: translate(1%, -34%);
  text-align: center;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  color: #aeadad;
  font-weight: bold;
  width: auto;
  padding: 5px;
  height: 233px;
  list-style: none;
  text-align: left;
  padding-top: 9px;
  padding-left: 12px;
  padding-right: 11px;
  background: #1d1a1ad6;
}

@media screen and (max-width: 1200px) {
  .Nochartheader {
    font-size: .8rem;
  }
}

.btn-primary {
    /* background-color: #1d1a1a !important;
    border-color: #1d1a1a !important; */
}

.NoChartActual::after {
  padding-top: 40px;
}

.plus {
    margin-top: 45vh;
    position: absolute;
    left: 94%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 1200px) and (orientation: portrait) {
  .plus {
    margin-top: 70vh;
    left: 50%;
  }
}

.NoGraphNew {
  position: absolute;
  width: 45vw;
  top: 148%;
  left: 74%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 6px 25px 38px #00000061;
  padding: 1px;
}

@media screen and (max-width: 1200px) and (orientation: portrait) {
  .NoGraphNew {
    position: absolute;
    top: 170%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px;
    width: 90vw;
    padding: 1px;
  }
}



.burgerMenuContainer {
  width: 40px;
  position: absolute;
  left: 50px;
  top: 102%;
  cursor: pointer;
}

.burgerMenu {
  width: inherit;
}

.off-canvas {
  width: 250px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #333;
  transform: translateX(-100%);
  transition: .4s ease-in-out;
  z-index: 1060;
}

.sidebarContainer {
  width: 50vw;
}

.backgroundClick {
  width: 100%;
  height: 100%;
  z-index: -1;
}
