.Nodashboardcontainer {
  height: 100vh;
  background: black url('../../../images/circles.png') repeat;
}

.Nodashboard {
  height: 100vh;
  background-image: linear-gradient(#bb0718ad, #00000085);
}

.Yesdashboard {
  height: 100vh;
  background-image: linear-gradient(#2e96249e, #000000b3);
}


.NoGraph {
  position: absolute !important;
  width: 100% !important;
  top: 101%;
  left: 19% !important;
  background-color: #ffffff;
  box-shadow: 6px 25px 38px #00000061;
  padding: 1px;
  max-width: 62% !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  transform: translate(0%, 0%);
}

@media screen and (max-width: 1200px) and (orientation: portrait) {
  .NoGraph {

  }
}

.Nochartheader {
  position: fixed !important;
  text-align: center;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  color: #aeadad;
  width: 300px !important;
  padding: 5px;
  height: 62vh;
  list-style: none;
  text-align: left;
  padding-top: 9px;
  padding-left: 12px;
  padding-right: 11px;
  background: #1d1a1a;
  box-shadow: 1px 1px 11px #0e0e0eb3;
  right: 1%;
  top: 8%;
  border: 1px solid white;
}




@media screen and (max-width: 1200px) {
  .Nochartheader {
    font-size: .8rem;
  }
}

.btn-primary {
    /* background-color: #1d1a1a !important;
    border-color: #1d1a1a !important; */
}

.NoChartActual::after {
  padding-top: 40px;
}

.plus {
    position: absolute;
    left: 48.5%;
    top: 183%;
}

@media screen and (max-width: 1200px) and (orientation: portrait) {
  .plus {
    margin-top: 70vh;
    left: 50%;
  }
}

.NoGraphNew {
  position: absolute;
  width: 45vw;
  top: 148%;
  left: 74%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 6px 25px 38px #00000061;
  padding: 1px;
}

@media screen and (max-width: 1200px) and (orientation: portrait) {
  .NoGraphNew {
    position: absolute;
    top: 170%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px;
    width: 90vw;
    padding: 1px;
  }
}

.fullView {
  width: 75vw;
  left: 50%;
}

.backgroundClick {
  width: 100%;
  height: 100%;
  z-index: -1;
}

.exitButton {
  position: absolute;
  top: -3.5vh;
  right: 0%;
  cursor: pointer;
}

.exitImage {
  width: 35px;
}

.bitcoinTrackerWrapper {
  width: 300px !important;
  height: 63px;
  position: fixed !important;
  top: 1%;
  right: 1%;
  background: #1d1a1a;
  border: 1px solid white;
}
