.cryptoImageBackgroundChartInfo {
  position: absolute;
  left: 60%;
  transform: translate(-20%, -50%);
  top: 50%;
  z-index: -1;
  width: 300px;
  background-color: white;
  filter: grayscale(0%);
}

.chartInfoChild {
  background: rgba(115, 125, 130, 0.9411764705882353);
  padding: 6px;
  padding-left: 10px;
  height: inherit;
  z-index: 1;
  padding-top: 18px;
}

.right {
  text-align: right;
  font-size: 16px !important;
  float: right;
  color: #d4e6ff;
  font-weight: 500;
}

@media screen and (max-width: 1200px) {
  .right {
    font-size: .7rem !important;
  }
}

.black {
  color: black;
  font-weight: bold;
}

li {
  margin-bottom: 5px;
}
