.cryptoImageBackgroundChartInfo {
  position: absolute;
  left: 60%;
  transform: translate(-20%, -50%);
  top: 50%;
  z-index: -1;
  width: 300px;
  background-color: white;
  filter: grayscale(0%);
  -webkit-transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.chartInfoChild {
  background: rgba(115, 125, 130, 0.9411764705882353);
  padding: 6px;
  padding-left: 10px;
  height: inherit;
  z-index: 1;
  padding-top: 10px;
  padding-bottom: 200px;
}

.right {
  text-align: right;
  font-size: 16px !important;
  float: right;
  color: #d4e6ff;
  font-weight: 500;
}

@media screen and (max-width: 1200px) {
  .right {
    font-size: .9rem !important;
  }
}

.black {
  color: black;
  font-weight: bold;
}

li {
  margin-bottom: 5px;
}

.nav-pills .nav-link.active, .nav-pills .show .nav-link {
  color: #d9d9d9 !important;
  background-color: #7b8589 !important;
  font-size: 15px;
  border-radius: 0 !important;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.nav-pills .nav-link {
border-radius: 0 !important; 
background-color: #223242;
color: #d9d9d9 !important;
}

a {
  color: #000000 !important;
}

#nav {
background: #404040;
}

.nav-chartInfo {
  background: rgba(34, 50, 66, 0.6705882352941176) !important;

}

.tags {
  flex-shrink: 5;
}

.tagIcons {
  width: 20px;
}

.iconsContainer {
  display: flex;
  text-align: center;
  margin: 8px -4px 0px;
  border: 1px solid #6a7580;
  padding: 5px;
  padding-right: 0;
  margin-right: 0;
  border-radius: 4px;
}

.linksHeader {
  text-align: center;
  margin-bottom: 5px;
  font-size: 12px;
  color: white;
}

.tagIcons:hover {
  filter: invert(90%);
  -webkit-transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}