html, body {
  height: 100%;
}

#app {
  height: 100%;
}

.spinner {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinnercontainer {
  height: 100vh;
  background: #1E2938 !important;
}

.Answernobackground {
  height: 100vh;
  background: #1E2938;
  position: static;
}

.Answernono {
  height: inherit;
  /* background-image: linear-gradient(#bb0718ad, #00000085); */
  padding: 0;
  justify-content: stretch;
  align-items: center;
  display: flex;
  z-index: 1;
}

.Answernoyes {
  height: inherit;
  padding: 0;
  justify-content: stretch;
  align-items: center;
  display: flex;
  z-index: 1;
}

.Answerboxno {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: calc(4vw + 4vh + 4vmin);
  color: rgba(223, 226, 230, 0.5);
  font-family: 'Poppins', sans-serif;
  text-shadow: 3px 3px 10px #141414ad;
  width: 90vw;
  text-align: center;
  
}

.Answerboxyes {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: calc(4vw + 4vh + 4vmin);
  color: rgba(223, 226, 230, 0.5);
  font-family: 'Poppins', sans-serif;
  text-shadow: 3px 3px 10px #141414ad;
  width: 90vw;
  text-align: center;
}

.lockbody {
  padding: 0;
  margin: auto;
  margin-top: 48vh;
  margin-left: 46%;
  filter: invert(58%);
}

@media screen and (max-width: 1400px) and (orientation: portrait) {
  .lockbody {

  }
}

@media screen and (orientation: landscape) {
  .lockbody {

  }
}

*:focus {outline:none}

body {
  overflow: hidden;
}

.lockImage {

}

@media screen and (max-width: 1200px) and (orientation: portrait) {
  .lockImage {
    width: 12vw;
  }
}
