*:focus {outline:none}

.answerBackground {
  height: 100vh;
  background-image: url('../images/circles.png');
  position: static;
}

body {
  font-family: 'Poppins', sans-serif !important;
}

.spinnerChartInfo {
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* body {
  overflow: hidden;
} */