*:focus {outline:none}

a {
  color: #000000 !important;
  font-size: 15px;
}

.answerBackground {
  height: 100vh;
  background-image: url('../images/circles.png');
  position: static;
}

body {
  font-family: 'Poppins', sans-serif !important;
}

.black {
  color: black;
  font-weight: bold;
}

.btn {
  padding: 0 !important;
}

.form-control {
  width: 115px !important;
  font-size: 14px !important;
  text-align: center;
}

.form-control:focus, .form-control:visited {
  outline: none !important;
  box-shadow:none !important;
}

.greenText {
  color: #00e100;
  font-weight: 500;
}

.large {
  width: 27px;
  position: absolute;
}

li {
  margin-bottom: 5px;
}

#nav {
  background: #223242;
  border-bottom: 2px solid #bebebe;
  cursor: pointer;
  }

.redText {
  color: #801f28;
  font-weight: bold;
}