@import "../abstracts/variables";


* {
  margin: 0;
  padding: 0;

  &:focus {
    outline:none
  }
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
      rgba(30, 41, 56, 1), 
      rgba(30, 41, 56, 0.75)),
  url('../../../images/circles.png');
}

.black {
  color: $color-black;
  font-weight: bold;
}

.btn {
  padding: 0px 3px 0px 3px !important;
}

.form-control {
  font-size: 1.4rem !important;
  text-align: center;
}

.form-control:focus, .form-control:visited {
  outline: none !important;
  box-shadow:none !important;
}

.greenText {
  color: $color-green-text;
  font-weight: 500;
}

.large {
  width: 2.7rem;
  position: absolute;
}

#nav {
  background: $color-blue-dark;
  border-bottom: 2px solid $color-grey-primary;
  cursor: pointer;
  }

.redText {
  color: $color-red-text;
  font-weight: bold;
}